@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('TT Lakes Regular'), local('TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('TT Lakes Medium'), local('TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

html {
    box-sizing: border-box;
    color: #1B1C21;
    font-family: TT Lakes;
    font-weight: normal;
    font-style: normal;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    min-width: 320px;
    max-width: 1120px;
    overflow-x: hidden;
    margin: auto;
    background-color: #F2F2F2;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;768
}

.title {
    background-image: linear-gradient(90deg, #F2F2F2 1.39%, #FFFFFF 100%);
    padding: 16px;
    border-top: 1px solid #D9FFF5;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82;
}

.swiper-container {
   padding-bottom: 20px;
}

.swiper-wrapper {
    padding: 16px 0;
}

@media (min-width: 768px) {
    .swiper-container {
        padding-bottom: 0px;
     }

    .swiper-wrapper  {
        box-sizing: border-box;
        justify-content: center;
        flex-wrap: wrap;
        padding: 24px 0 0 24px;
    }
}

@media (min-width: 1128px) {
    .swiper-wrapper  {
        padding: 32px 0 0 32px;
    }
}

.gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(90deg, transparent 90%, #F2F2F2 97%);
    z-index: 2;
}

@media (min-width: 768px) {
    .gradient {
        display: none;
    }
}

.swiper-slide {
    height: 72px;
    line-height: 72px;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    position: relative;
    width: 240px;
    flex-grow: 1;
}


.fix {
    display: none;
}

@media (min-width: 768px) {
    .swiper-slide {
        width: 224px;
        margin-bottom: 16px;
        margin-right: 24px;
    }

    .fix {
        display: block;
        background: inherit;
        border: none;
    }
    .hidden {
        display: none;
    }
    .swiper-slide:nth-child(n+7) {
        display: none;
    }
}

@media (min-width: 1016px) {
    .swiper-slide:nth-child(n+7) {
        display: block;
    }
    .swiper-slide:nth-child(n+9) {
        display: none;
    }
}

@media (min-width: 1128px) {
    .swiper-slide {
        margin-right: 32px;
        width: 240px;
    }
}

.swiper-pagination-bullet {
    background-color: #DDDDDD;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.swiper-slide_logo {
    display: inline-block;
    vertical-align: middle;
    margin-left: 16px;
}

.swiper-slide_link {
    cursor: pointer;
    position: absolute;
    right: 16px;
    top: 15px;
    background-color: inherit;
    width: 40px;
    height: 40px;
    padding: 0;
}

.swiper-slide_link::before {
    content: url(../images/go.png);
}

.button-container {
 margin-left: 26px;
}

@media(min-width: 1128px) {
    .button-container {
        margin-left: 34px;
    }
}

.button-more, .button-less {
    font-family: 'TT Lakes';
    font-weight: 500;
    font-size: 16px;
    padding-left: 10px;
    border: none;
    background: inherit;
    display: none;
}

.button-more::before {
    content: url('../images/expand.png');
    display: inline-block;
    position: relative;
    left: -5px;
    top: 6px;
}

.button-less::before {
    content: url('../images/expand.png');
    display: inline-block;
    transform: rotate(180deg);
    position: relative;
    left: -5px;
    top: 3px;
}

@media(min-width: 768px) {
    .button-more {
        display: block;
    }
}

button {
    outline: none;
}